* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-image: url("D:/projects/skin-cancer-detection/src/assets/header-bg-shape.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgba(0, 0, 0, 0.01);
  background-size: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
